
<div class="flex-container">
    <div class="title">
        <h1>Contact Us:</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="map">
                <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJO9YMTXYFx4kReOgEjBItHZQ&key=AIzaSyBDYICmFg0zEv3UKgKJgzDKOG75T-qy3ew" allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-md-6">
            <div class="description">
                <h3>Service Area:</h3>
                B & S Cleaning Services primarily works in the Dover, DE area, but does travel throughout the state to surrounding areas.  Please call for more information 
                or to receive a quote.
                <h3>Phone Number:</h3>
                <a href="tel:+1-302-465-1828" style="color:rgb(9, 61, 37);"><u>(302) 465-1828</u></a>
                <h3>Email:</h3>
                ImprovementHomes1@gmail.com
            </div>
        </div>
    </div>


    
</div>

