

<div class="flex-container">
    <div class="title">
        <h1>About B & S Cleaning Services</h1>
    </div>

    <div class="aboutText">
        <p>
            With over 25 years of experience, our locally owned and operated cleaning company offers the highest quality services for a comparable, 
            if not better, price. Over those 25 years, we have gained comprehensive experience and unparalleled knowledge 
            of our trade. With that experience, our company offers respect, trust, dedication, integrity, and a commitment to exceeding the expectations of our customers. Over the years, we have put in countless 
            hours on projects of all scopes and sizes. We strive to deliver complete customer satisfaction for each service, providing quality, 
            affordable pricing, and excellent customer service. We work with a variety of clients, including:
        </p>
        
            <ul class="servicesList">
                <li>Mold Removal</li>
                <li>Residential Cleaning and Deep Cleaning</li>
                <li>General Offices</li>
                <li>Schools</li>
                <li>Daycares</li>
                <li>Churches</li>
                <li>Medical and Dental Facilities</li>
                <li>Retail Businesses</li>
                <li>HOA Property Management</li>
                <li>Manufactoring and Industrial Buildings</li>
                <li>Custodial Services</li>
                <li>Carpet Cleaning</li>
                <li>Floors - Scrubbing, Buffing, Stripping, and Waxing</li>
                <li>Window Washing</li>
                <li>Green Cleaning</li>
                <li>Power Washing</li>
            </ul>
        
        <p>
            You can count on B & S Cleaning Service's experts to properly clean your business or home. To learn more about 
            what we can do for you, or to get started on your next project, get in touch with us at 302-310-4374. 
        </p>
    </div>

</div>