

<div class="flex-container">
    <div class="title">
        <h1>About B & S Cleaning Services</h1>
    </div>

    <div class="aboutText">
        B & S Cleaning Services LLC is a full-service cleaning company that has gained comprehensive experience and unparalleled knowledge 
        of our trade. Over the years, we have put in countless hours on projects of all scopes and sizes. Our exceptional customer care and 
        satisfaction only match our skill and execution.
        <br>
        You can count on B & S Cleaning Services LLC’s experts to properly clean your business or home . Get in touch with us to get started 
        on your next project today!
    </div>

</div>