
<footer id="footer" class="text-white-50">

    <div id="design-block"></div>

    <div class="flex-container">
        <!-- add social media href to actual downtown visions links-->
        <div><a href="https://www.facebook.com/bandshomes302"><img src="../../../assets/facebook_icon.png"></a></div>
        <div><a href="https://www.instagram.com/bandshomeimprovement/"><img src="../../../assets/twitter_icon.png"></a></div>
        <div><a href="https://www.pinterest.com/BSHomeImprovementDE/"><img src="../../../assets/pinterest_icon.png"></a></div>
        <div><a href="https://www.instagram.com/downtownwilmde/"><img src="../../../assets/instagram_icon.png"></a></div>
    </div>

    <hr style="margin: 0 15%; border-top-color: rgb(9, 61, 37);">

    <div class="container text-center">
        <div class="footerContact">
            <p>
                Office Address: 600 N. Broad St., Suite 5931, Middletown, DE 19709
                <br>
                Phone: (302) 310-4374
                <br>
                Email: improvementhomes1@gmail.com
            </p>
            <p>
                Open Monday thru Saturday: 7:00 a.m. to 8:00 p.m.
                <br>
                By appointment on Sunday
            </p>
            © 2020 B & S Cleaning Services
        </div>
    </div>
</footer>