
<div class="flex-container">
    <div class="title">
        <h1>Does your home or business need cleaning inside or out?</h1>
        <h3><p>You've come to the right place!</p></h3>  
        <h3>B & S Cleaning Services takes care of all your residential and commercial cleaning needs!</h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="topRowPicL">
                <img src="../../../assets/resAndComCleaning.jpg" class="responsive">
            </div>
        </div>
        <div class="col-md-6">
            <div class="topRowPicR">
                <img src="../../../assets/cleanKitchen.gif" class="responsive">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="topRowPic">
                <img src="../../../assets/house (1).jpg" class="responsive">
            </div>
        </div>
        <div class="col-md-6">
            <div class="topRowPic">
                <img src="../../../assets/office.jpg" class="responsive">
            </div>
        </div>
    </div>


</div>
