
<div class="flex-container">
    <div class="title">
        <h1>Power Washing</h1>
    </div>
    <div class="description">
        If dirt, mold or mildew are destroying your home's curb appeal, our eco-friendly cleaning detergents can safely wash away those ugly contaminants and transform your home's 
        siding to a fresh, clean and new looking appearance.  Perhaps your patio, driveway or sidewalk has been stained by Mother Nature.  Call us today to brighten up your property 
        so we can lift away and remove ground in dirt, stains and contaminants to make it look clean, fresh and like new again!  If your wood or composite deck has turned dull, gray and weathered, we specialize in safely 
        restoring decks to their original beauty.  We'll bring out the wood's natural beauty while eliminating mold, mildew and living organisms that can damage the surface of your deck.  Do you have gutters, vinyl fencing or an 
        awning that's creating an eyesore of your home or business? We can take care of that too.  Help your home or business stand out for the right reasons with a power washing by B & S 
        Cleaning Services today.  Call (302) 465-1828 for a free quote!
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="title">
                <h1>Residential Services</h1>
            </div>
            <div class="list">
                <ul id="resList">
                    <li>Driveways</li>
                    <li>Siding (all types)</li>
                    <li>Sidewalks and Walkways</li>
                    <li>Patios and Porches</li>
                    <li>Pool Decks</li>
                    <li>Brick Pavers</li>
                    <li>Gutters</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="title">
                <h1>Commercial Services</h1>
            </div>
            <!-- <div class="list"> -->
                <ul id="comList">
                    <li>Offices Buildings</li>
                    <li>Shopping Centers/Strip Malls</li>
                    <li>Retail Shops/Store Fronts</li>
                    <li>Gas Stations or Convenience Stores</li>
                    <li>Parking Garages and Parking Lots</li>
                </ul>
            <!-- </div> -->
        </div>
    </div>
</div>
