.flex-container{
    font-size: 13pt;
    padding-top: 2%;
    padding-bottom: 2%;
}

.title{
    text-align: center;
    color: rgb(9, 61, 37);
    padding-bottom: 1%;
}

.description{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%;
}

#resList, #comList{
    padding-bottom: 2%;
    padding-top: 1%;
    display: table;
    margin: auto;
}

.picture{
    text-align: center;
}

.beforePicture, .afterPicture{
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
}

.responsive{
    max-width: 100%;
    height: auto;
}


