
<div class="flex-container">
    <div class="title">
        <h1>Important Information Regarding Covid-19</h1>
    </div>

    <div class="covidText">
        <p>
            B & S Cleaning Services is taking the Covid-19 pandemic very seriously.  The safety of our staff and clients is of utmost importance to us.  It is because of this that 
            in so much as it is possible, B  & S Cleaning Services is following all CDC guidelines in regards to social distancing.   A link to these guidelines can 
            be found <a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/social-distancing.html"><u>HERE</u></a>. Our employees will also wear a mask and gloves when cleaning your home or business. 
            We respectfully ask that while we are working inside your home, you also wear a mask for the protection of all parties.
            We also ask that if you are not feeling well or have any <a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html"><u>symptoms</u></a> of Covid-19, please 
            reschedule your appointment and consult your primary healthcare provider for information on being tested.
        </p>
        <p>
            We are committed to giving you piece of of mind during these uncertain times and thank you for placing your trust in B & S Cleaning Services for all your cleaning needs.
        </p>
    </div>
</div>