
<div class="flex-container">
    <div class="title">
        <h1>Important Information Regarding Covid-19</h1>
    </div>

    <div class="covidText">
        With the outbreak of Coronavirus (COVID-19) B & S Cleaning Services is wondering if we are taking any extra
precautions when cleaning your home.
        In so much as it is possible, B  & S Cleaning Services is following all CDC guidelines in regards to social distancing.   A link to these guidelines can 
        be found <a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/social-distancing.html">HERE</a>. Our employees will wear a mask when cleaning your home or business, and the safety of our customers 
        as well as our employees is very important to us. 
    </div>
</div>