
<div class="flex-container">
    <div class="title">
        <h1>Mold Removal</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="description">
                <h3>Mold Growth and Health Effects</h3>
                The most common causes of mold growth are:
                <ul>
                    <li>The intrusion of water via the roof, windows and doors</li>
                    <li>Flooding</li>
                    <li>Plumbing problems</li>
                    <li>HVAC malfunction or lack of use of your HVAC system causing high humidity levels</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="picture">
                <img src="../../../assets/mold.jpg" class="responsive">
            </div>
        </div>
    </div>

    <div class="description">
        <p>
            Mold can start growing within 24-48 hours and from a tiny bit of mold, it is very easy for it to become a large-scale infestation. Just a bit of moisture or humidity is sufficient. 
            And, if there is plenty of moisture because of standing water or building materials that are soaked, mold growth is inevitable.
        </p>
        <p>
            The first step for mold remediation is to dry the place completely and dehumidify it. However, after this, you will need to get professional mold removal/remediation experts to resolve the problem completely.
        </p>
        <p>
            If there is a mold infestation in your home or workplace, this can affect the health of all the people who spend their time regularly in the place. Elevated mold levels can cause 
            respiratory problems, allergy, itching, skin rashes and in the long run, lead to chronic illnesses. It can especially have a negative impact on the health of young kids, elders and pets. 
            Before the mold becomes hazardous for you and your loved ones, call B & S Cleaning Services for mold remediation immediately.
        </p>
        <p>
            For mold remediation to be successful, two things need to happen.  First, the source of the mold problem must be addressed. Simply getting rid of the mold without removing the source will 
            cause the mold to grow right back. B & S Cleaning Services will help to identify the source of the mold and fix the problem for you. Second is the remediation of the mold itself by cleaning all 
            surfaces with an antimicrobial agent, and then removing and disposing of all materials that have been damaged by mold.  Our technicians make use of protective gear, and when the work is completed, 
            air scrubbers are run to filter out any mold spores that may have been released during cleaning and removal.  
        </p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="title">
                <h1>Before:</h1>
            </div>
            <div class="bottomPicture">
                <img src="../../../assets/" class="responsive">
            </div>
        </div>
        <div class="col-md-6">
            <div class="title">
                <h1>After:</h1>
            </div>
            <div class="bottomPicture">
                <img src="../../../assets/"class="responsive">
            </div>
        </div>

    </div>
</div>
